// Materialize and theme imports
@import './theme';
@import './materialize-src/sass/materialize';

// Global styles
body {
  background-color: color('grey', 'darken-2');
}

#root {
  height: 100vh;
}

.letter-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.letter {
  background-color: #f0e9d2;
  padding-right: 40px;
  width: 600px;

  @media (max-width: 420px) {
    width: 400px;
  }

  p {
    background-image: url('./assets/letter-background.png');
    font-size: 15pt;
  }
}

.letter-edge {
  width: 55px;
  background: url('./assets/letter-edge-small.png') repeat-y;
}
